@keyframes flyToCharacter {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px); 
        opacity: 0;
    }
}

.item-fly {
    position: absolute;
    animation-timing-function: linear;
    opacity: 1;
}

.item-image {
    width: 50px; 
    height: auto;
    max-height: 50px; 
    object-fit: contain;
}
